<section class="question" *ngIf="questaoAtual" id="quizSectionId">
  <div class="image">
    <div class="enunciado" *ngIf="mostrarEnunciado">
      <p>{{ questaoAtual.Enunciado }}</p>
    </div>
    <br /><br />

    <div class="alternativas" *ngIf="!questaoRespondidaa && mostrarAlternativas">
      <p [ngClass]="{ 'selecionada': isAlternativaSelecionada('A') }"><b>A:</b> {{ questaoAtual.ItemA }}</p><br />
      <p [ngClass]="{ 'selecionada': isAlternativaSelecionada('B') }"><b>B:</b> {{ questaoAtual.ItemB }}</p><br />
      <p [ngClass]="{ 'selecionada': isAlternativaSelecionada('C') }"><b>C:</b> {{ questaoAtual.ItemC }}</p><br />
      <p [ngClass]="{ 'selecionada': isAlternativaSelecionada('D') }"><b>D:</b> {{ questaoAtual.ItemD }}</p><br />
      <p [ngClass]="{ 'selecionada': isAlternativaSelecionada('E') }"><b>E:</b> {{ questaoAtual.ItemE }}</p><br />
    </div>

    <div *ngIf="mostrarRespostaCerta">
      <p>Resposta do Gabarito: {{ respostaCerta }}</p>
      <p *ngIf="linkResposta" class="link">Link da Resposta: <a href="{{ linkResposta }}" target="_blank">{{ linkResposta }}</a></p>
    </div>

    <div class="buttons" *ngIf="!mostrarResultados">
      <button class="alt" *ngIf="!questaoRespondidaa && mostrarAlternativas" [ngClass]="{ 'selecionado': isAlternativaSelecionada('A') }" (click)="selecionarAlternativa('A')">A</button>
      <button class="alt" *ngIf="!questaoRespondidaa && mostrarAlternativas" [ngClass]="{ 'selecionado': isAlternativaSelecionada('B') }" (click)="selecionarAlternativa('B')">B</button>
      <button class="alt" *ngIf="!questaoRespondidaa && mostrarAlternativas" [ngClass]="{ 'selecionado': isAlternativaSelecionada('C') }" (click)="selecionarAlternativa('C')">C</button>
      <button class="alt" *ngIf="!questaoRespondidaa && mostrarAlternativas" [ngClass]="{ 'selecionado': isAlternativaSelecionada('D') }" (click)="selecionarAlternativa('D')">D</button>
      <button class="alt" *ngIf="!questaoRespondidaa && mostrarAlternativas" [ngClass]="{ 'selecionado': isAlternativaSelecionada('E') }" (click)="selecionarAlternativa('E')">E</button>

      <button *ngIf="mostrarBotaoConfirmar" (click)="confirmarResposta()">Confirmar Resposta</button>
      <button *ngIf="mostrarBotaoProximaQuestao" (click)="proximaQuestao()">Próxima Questão</button>
      <button *ngIf="mostrarBotaoGabarito" (click)="mostrarGabarito()">Gabarito</button>
      <button *ngIf="mostrarBotaoResultado" (click)="mostrarResultado()">Ver Resultado</button>
    </div>

    <div class="resultados" *ngIf="mostrarResultados">
      <div>
        <h2>Resultados</h2>
        <p>Acertos: {{ acertos }}</p>
        <p>Erros: {{ erros }}</p>

        <ng-container *ngIf="acertos <= 5" class="mensagem">
          <p>Estude mais e tente na próxima vez.</p>
        </ng-container>

        <ng-container *ngIf="acertos >= 6 && acertos <= 8" class="mensagem">
          <p>Bom! Você já domina o assunto.</p>
        </ng-container>

        <ng-container *ngIf="acertos === 9" class="mensagem">
          <p>Quase lá! Você passa em qualquer prova.</p>
        </ng-container>

        <ng-container *ngIf="acertos === 10" class="mensagem">
          <p>Parabéns! Você é um mestre da biologia.</p>
        </ng-container>
      </div>
    </div>
  </div>
</section>
